<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <!-- <a target="_blank" href="https://icons8.com/icon/13vbilOYBZeU/microorganism">Microorganism</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <aside class="selection-container">
      <p id="sample-list-label">Select test subject:</p>
      <ul id="sample-list">
      </ul>
    </aside>

    <main>
      <header class="title-container">
        <div class="bg"></div>
        <h1 class="title">Belly Button Biodiversity Dashboard</h1>
        <p class="subtitle">Use the interactive charts below to explore the
          dataset</p>
      </header>
      <section>
        <div class="dashboard-row metadata-container">
          <div id="gender" class="metadata"></div>
          <div id="age" class="metadata"></div>
          <div id="ethnicity" class="metadata"></div>
          <div id="bbtype" class="metadata"></div>
        </div>
        <div class="dashboard-row">
          <div id="pie" class="_chart-container"></div>
          <div id="gauge" class="_chart-container"></div>
        </div>
        <div class="dashboard-row">
          <div id="bubble" class="_chart-container"></div>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </body>

</html>