/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: Inconsolata-Bold;
  src: url("../fonts/Inconsolata-Bold.ttf");
}

@font-face {
  font-family: Inconsolata-Regular;
  src: url("../fonts/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: Inconsolata-Light;
  src: url("../fonts/Inconsolata-Light.ttf");
}

html {
  font-family: Inconsolata-Regular;
  background-color: rgb(88, 21, 148);
}

body {
  position: relative;
}

body,
main {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

body::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: rgb(25, 25, 112); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190); /* color of the scroll thumb */
}

.desktop.selection-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 8.5rem;
  color: white;
  fill: white;
  background-color: #00000080;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.mobile.selection-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: -8.5rem;
  height: 100vh;
  width: 8.5rem;
  color: white;
  fill: white;
  background-color: #1a0832;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#sidebar-toggle {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1.5rem;
  color: white;
  font-weight: bold;
  background-color: #191970;
  cursor: pointer;
}

#sidebar-toggle:hover {
  filter: brightness(1.2);
}

main {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px 35px;
  background: rgb(88, 21, 148);
  background: linear-gradient(180deg, rgb(88, 21, 148) 0%, rgb(27, 17, 77) 65%);
}

@media screen and (min-width: 640px) {
  .desktop.selection-container {
    display: initial;
  }

  #sidebar-toggle {
    display: none;
  }

  main {
    padding-left: 9.5rem;
  }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 20rem;
  color: white;
  text-align: center;
  border-radius: 9px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header > .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  background-image: url("../images/pexels-anni-roenkae-18232454.jpg"); /* The image used */
  background-color: #00000000; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.3;
}

header > h1 {
  z-index: 2;
  position: relative;
  margin: 0;
  padding-top: 10px;
  font-size: 1.9rem;
  letter-spacing: 5px;
}

header > p {
  z-index: 2;
  position: relative;
  margin: 1rem 0;
  font-size: 0.85rem;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

@media screen and (min-width: 640px) {
  header > h1 {
    font-size: 2.5rem;
  }

  header > p {
    font-size: 1rem;
  }
}

ul {
  position: relative;
  height: calc(100% - 1.9rem);
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  text-align: center;
}

li:hover,
li:active {
  cursor: pointer;
  opacity: 0.7;
}

li > svg,
li > p {
  pointer-events: none;
}

section > .dashboard-row:nth-of-type(2) {
  background-color: #00000080;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#bubble {
  background-color: #00000080;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Legend for pie chart and background for gauge */
rect.bg,
rect.highcharts-background {
  fill: #00000000 !important;
}

.dashboard-row {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 910px) {
  .dashboard-row {
    flex-direction: row;
    justify-content: space-around;
    gap: initial;
  }
}

.sample {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Plotly chart background */
.main-svg {
  background-color: #00000000 !important;
}

.selected {
  background-color: rgb(25, 25, 112);
}

.sample-list-label {
  position: sticky;
  height: 1.9rem;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.metadata-container {
  position: relative;
  justify-content: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 910px) {
  .metadata-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1040px) {
  .metadata-container {
    font-size: 1rem;
  }
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: clamp(10rem, 20%, 35rem);
  color: white;
  padding: 5px 10px;
  background-color: #00000080;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#pie,
#gauge {
  width: 100%;
  max-width: 630px;
}

#bubble {
  width: 100%;
}

@media screen and (min-width: 910px) {
  #pie,
  #gauge {
    width: 40%;
  }
}
